.nav-contenar {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1140px;
  height: 75px;
}
.nav-item ul {
  display: flex;
  list-style: none;
}
.nav-item ul a {
  margin: 0 20px;
  text-decoration: none;
  color: #8987a1;
}
