@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.nav-contenar {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1100px;
  height: 75px;
}
.nav-item ul {
  display: flex;
  list-style: none;
}
.nav-item ul a {
  margin: 0 20px;
  text-decoration: none;
  color: #8987a1;
}
.flower-contenar {
  max-width: 1100px;
  display: flex;
  margin: 120px auto;
  justify-content: space-between;
  align-items: end;
}
.flower-titel h1 {
  font-family: "Noto Serif", serif;
  font-size: 65px;
  font-weight: bold;
}
.flower-titel p {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.plant-contenar {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
}
.plant-title {
  text-align: center;
  margin-bottom: 40px;
}
.plant-title h2 {
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
  margin: 15px auto;
}
.plant-title p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
}
.card-contenar {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  max-width: 270px;
  max-height: 485px;
}
.card p {
  text-align: center;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  margin: 10px auto;
}
.btn {
  width: 270px;
  height: 50px;
  border: none;
  color: #ffffff;
  background-color: #e95a08;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.lover-contenar {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 210px;
  display: flex;
  position: relative;
}
.trust {
  width: 286px;
  height: 286px;
  position: absolute;
  left: 32%;
  top: -20%;
}
.lover-conten {
  width: 540px;
  height: 521px;
  margin: 20px 0 20px 40px;
}
.lover-conten h3 {
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}
.lover-conten ul {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.deal-conten {
  text-align: center;
  margin: 120px auto;
}
.deal-conten h2 {
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
  margin: 10px auto;
}
.deal-conten p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  margin: 10px auto;
}
.deal-contenar {
  max-width: 1100px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.deal-banner {
  background-image: url(./assets/deal-bloom.png);
  width: 367px;
  height: 201px;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deal-banner h3 {
  margin-bottom: 10px;
  font-size: 20;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
.deal-banner p {
  margin-top: 10px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-decoration: underline;
}
.deal-banner2 {
  background-image: url(./assets/deal-ana.png);
  width: 367px;
  height: 201px;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deal-banner2 h3 {
  margin-bottom: 10px;
  font-size: 20;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
.deal-banner2 p {
  margin-top: 10px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-decoration: underline;
}
.deal-banner3 {
  background-image: url(./assets/deal-zabo.png);
  width: 720px;
  border-radius: 15px;
  color: #ffffff;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deal-banner3 h3 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
.deal-banner3 p {
  margin-top: 10px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  font-size: 28px;
}
.join-contenar {
  background-image: url(./assets/news-letter-bg.png);
  margin-top: 120px;
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-contenar h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
.join-contenar input {
  width: 600px;
  height: 45px;
}
.btn2 {
  width: 150px;
  height: 45px;
  border: none;
  color: #ffffff;
  background-color: #e95a08;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
footer {
  max-width: 1140px;
  height: 248px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}
.footer-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
